/* root-start */
:root {
    --Montserrat-Regular: 'Montserrat-Regular';
    --Montserrat-Medium: 'Montserrat-Medium';
    --Montserrat-Light: 'Montserrat-Light';
    --Montserrat-SemiBold: 'Montserrat-SemiBold';
    --MarckScript-Regular: 'MarckScript-Regular';
    --white: #fff;
    --pink: #BF1E77;
    --grey: #545155;
    --bg-white: #FBF7F4;
}

.main-item {
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
}

.main-item__img {
    padding-left: 10px;
    max-width: 350px;
    width: 100%;
}